@import '../web/kxygk.css';

html {
margin: 0;
overflow-x: hidden;
}
body {
font: 14px/20px italic Times, sans-serif;
margin-left: 0px;
margin-right: 0px;
margin-left: 5vw;
margin-right: 5vw;}
#table-of-contents {display: none} /* disable for now.. till I have a better plan */
pre.src {
margin-left:  -5vw;
margin-right: -5vw;
font-family: monospace;
font-size: 100%;
background: #FFFFEE;
overflow: auto;
position: static;
border-top: 1px solid  #e5e5d6;
border-bottom: 1px solid  #e5e5d6;
}
pre.src-org {
color: red;
background: #FFFFFF;
}
blockquote {
width: 100%;
padding-left: 0.5em;
border-left: solid;
border-left-width: 4px;
border-left-color: grey;
font: 14px/20px italic Times, serif;
background-color: #eefaf6; /*#f1ffee;*/
margin: 0;
.org-center {
text-align: center;}
}
svg { /* newer inline SVGs */
width: 100vw;
overflow: hidden;
height: auto;
margin-left: -5vw;
margin-right: 0;
}
/*.org-svg {
width: 100vw;
display: block;
margin-left: auto;
margin-right: auto;
}*/
ul {
list-style-type: circle;
padding-left: 1.5em;
border-left: solid;
border-left-width: 1px;
border-left-color: grey;}
h1 {color: #596060;}
h2 {
    color: black;
font-style: italic;
    padding-top: 0.5em;
    border-bottom: 4px solid  #aaaaaa;}
h3 {color: black;
border-bottom: 2px dotted  #aaaaaa;}
b, i{
font-family: serif ;}
sup { /* fixes line spacing issues due to superscripts */
font-size: 0.8em;
line-height: 0;
position: relative;
vertical-align: baseline;
top: -0.5em;
}
sub { /* if these are missing then lines with subscripts take up more space */
font-size: 0.8em;
line-height: 0;
}
.title {
font-weight: bold;
}
dt {
font-weight: bold;
}
td p, dd p, li p{
    margin: 0;
}
ul, p{
    margin-top: 0;
}
.sidebarblock{
    background:#f3f3f2;
}
.float-group::before,.float-group::after{content:" ";display:table}
.left{float:left!important}
.right{float:right!important}
.thumb,.th{line-height:0;display:inline-block;border:4px solid #fff;box-shadow:0 0 0 1px #ddd}
.imageblock.left{margin:.25em .625em 1.25em 0}
.imageblock.right{margin:.25em 0 1.25em .625em}
.imageblock>.title{margin-bottom:0}
.imageblock.thumb,.imageblock.th{border-width:6px}
.imageblock.thumb>.title,.imageblock.th>.title{padding:0 .125em}
.image.left,.image.right{margin-top:.25em;margin-bottom:.25em;display:inline-block;line-height:0}
.image.left{margin-right:.625em}
.image.right{margin-left:.625em}
.scrollbox{
    white-space: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
.scrollbox img{
    height:auto;
    width:auto;
    max-width: 70vw;
    max-height: 60vh;
    vertical-align: bottom;
    scroll-snap-align: start;
}
video{
    height:auto;
    width:auto;
    max-width: 30vw;
    max-height: 30vh;
}
img {
    display:flex;
    max-width: 100%;
    height: 100%;
    max-height: 33vh;
    margin: auto;
}
.imageblock{
    height: 100%;
}
.flexbox > .content{
    display: flex;
    justify-content: center;
    height: 33vh;
}
