/* Take from https://github.com/syamajala/syamajala.github.io/blob/master/static/worg.css
and modified a bit.. */

/*@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif);*/

@media all
{
    html {
        margin: 0;
        /*font: 300 .9em/1.6em "Droid Serif", Cambria, Georgia, "DejaVu Serif", serif;*/
	background-image: url(./panda.svg);
	background-size: auto 200px;
        background-position: right 13px top 7px;
        background-repeat: no-repeat;
        background-color: white;

    }

    body {
        font-size: 12pt;
        line-height: 18pt;
        color: black;
        /* margin-top: 0; */
        /* margin-bottom: 0; */

    }
    body #content {
        /* min-width: 700px; */
        margin-left: 20px;
        margin-right: 20px;
        /* padding: 0em; */
        /* box-shadow: 3px 3px 5px #888; */
    }
    body .title {
        margin-right: 0px;
	text-align: center;
        font-size: 25pt;
    }

    body::before {
	content: "geokon";
	display: block;
	font-size:2.1em;
        border-bottom: 1px double grey;
	color: black;
	margin-bottom: 1em;
	margin-top: 85px;
        margin-left: 20px;
        margin-right: 93px;
    }
    #org-div-home-and-up{
	display: none
    }

    /* TOC inspired by http://jashkenas.github.com/coffee-script */
    #table-of-contents {
	display: none}
    #table-of-contents h2 {
	display: none}
    #table-of-contents #text-table-of-contents {
        display: none;}
    #table-of-contents:hover #text-table-of-contents {
        display: none;}

    #license {
        background-color: #eeeeee;
    }

    h1 {
        /*
      font-family:Sans;
      font-weight:bold; */
        font-size:2.1em;
        padding:0 0 30px 0;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 93px;
        /*    color: #6C5D4F; */
        color: grey;
    }
    h2 {
        font-family:sans-serif;
        font-size:1.45em;
        line-height:16px;
        padding:10px 0 10px 0;
        color: black;
	border-bottom: 1px solid  #e6e6e6;
    }
    h3 {
        font-family:sans-serif;
        font-size:1.3em;
        color: brown;
    }
    h4 {
        font-family:sans-serif;
        font-size:1.2em;
        margin-left: 1.2em;
        color: #A5573E;
    }
    a {text-decoration: none; font-weight: 400;}
    a:visited {text-decoration: none; font-weight: 400;}
    a:hover {text-decoration: underline;}
    pre {
	margin-left: -20px;
	margin-right: -20px;
	margin-top: 0px;
	margin-bottom: 0px;
    }
    pre.a {
        color: inherit;
        background-color: inherit;
        font: inherit;
        text-decoration: inherit;
    }
    pre.a:hover {
        text-decoration: underline;
    }

    pre.src {
	font-family: monospace;
        color: black;
        font-size: 100%;
	background: 	#FFFFEE;
        overflow: auto;
        position: static;
    }

    pre.src-org { /* RESULTS output from code evaluation */
	font-family: monospace;
        color: red;
        font-size: 100%;
	background: 	#FFFFFF;
        overflow: auto;
        position: static;
    }
    ul {
	font-style: italic;
	list-style-type:none;
	margin-top: 0px;
	margin-bottom: 0px;
    }
    p {
	margin-top: 0px;
	margin-bottom: 0px;
    }
    blockquote {
	font: 14px/20px italic Times, serif;
	background-color: #f1ffee;
	margin: 5px;;
    }

    .org-svg {
	width: 100%;
	max-height: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	preserveAspectRatio: none;
    }
    img {
	width:100%;
	max-width: max-content;
    }
}
