html {
    margin: 0;
    overflow-x: hidden;
}
body {
    font: 14px/20px italic Times, sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    margin-left: 5vw;
    margin-right: 5vw;}
#table-of-contents {display: none} /* disable for now.. till I have a better plan */

pre.src {
    margin-left:  -5vw;
    margin-right: -5vw;
    font-family: monospace;
    font-size: 100%;
    background: #FFFFEE;
    overflow: auto;
    position: static;
    border-top: 1px solid  #e5e5d6;
    border-bottom: 1px solid  #e5e5d6;
}
pre.src-org {
    color: red;
    background: #FFFFFF;
}
blockquote {
    width: 100%;
    padding-left: 0.5em;
    border-left: solid;
    border-left-width: 4px;
    border-left-color: grey;
    font: 14px/20px italic Times, serif;
    background-color: #eefaf6; /*#f1ffee;*/
    margin: 0;
}
.org-center {
    text-align: center;
}
svg { /* newer inline SVGs */
    width: 100vw;
    overflow: hidden;
    height: auto;
    margin-left: -5vw;
    margin-right: 0;
}
.org-svg { /* non-inlined SVGs */
    width: 100vw;
    /* max-height: 350px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img { /* static images */
    width:     100%;
    max-width: max-content;}
ul {padding-left: 1.5em;
    border-left: solid;
    border-left-width: 4px;
    border-left-color: grey;}
h1 {color: #596060;}
h2 {color: black;
    padding-top: 0.5em;
    border-bottom: 4px solid  #aaaaaa;}
h3 {color: black;
    border-bottom: 2px dotted  #aaaaaa;}







body .title {
    margin-top: 160px;
}
body .title::before {
    margin-top: calc(0rem - 80px);
    content: "geokon";
    position: absolute;
    width: calc(90vw - 100px);
    height: 3rem;
    z-index: -1;
    display: block;
    font-size: 3rem;
    border-bottom: 1px double #596060;
    color: black;
}
body::before {
    content: " ";
    position: absolute;
    margin-top: calc(3rem - 182px);
    width: 92vw;
    height: 200px;
    z-index: -1;
    background-image: url(./panda.svg);
    background-size: auto 200px;
    background-position: right 13px top 0rem;
    background-repeat: no-repeat;
    background-color: white;
}










